
@media (min-width: 1280px) {

  .wooden-border {
    border: 100px solid transparent;
    border-image: url("/assets/wooden-border.png") 100 fill;
    background-repeat: no-repeat, repeat;
    background-position: center center;
    padding: 0;
  }

}

@media (min-width: 1025px) and (max-width: 1280px) {

  .wooden-border {
    border: 100px solid transparent;
    border-image: url("/assets/wooden-border.png") 100 fill;
    background-repeat: no-repeat, repeat;
    background-position: center center;
    padding: 0;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {

  .wooden-border {
    border: 70px solid transparent;
    border-image: url("/assets/wooden-border.png") 100 fill;
    background-repeat: no-repeat, repeat;
    background-position: center center;
    padding: 0;
  }

}

@media (min-width: 481px) and (max-width: 767px) {

  .wooden-border {
    border: 40px solid transparent;
    border-image: url("/assets/wooden-border.png") 100 fill;
    background-repeat: no-repeat, repeat;
    background-position: center center;
    padding: 0;
  }

}

@media (min-width: 320px) and (max-width: 480px) {

  .wooden-border {
    border: 40px solid transparent;
    border-image: url("/assets/wooden-border.png") 100 fill;
    background-repeat: no-repeat, repeat;
    background-position: center center;
    padding: 0;
  }

}

@media (min-width: 280px) and (max-width: 319px) {

  .wooden-border {
    border: 40px solid transparent;
    border-image: url("/assets/wooden-border.png") 100 fill;
    background-repeat: no-repeat, repeat;
    background-position: center center;
    padding: 0;
  }

}