.recipe-preview {
    color: #914223;
    font-family: 'VT323', monospace;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}

.recipe-preview img {
    margin: 0 auto;
    height: 96px;
}

.recipe-image {
    padding: 10px;
}

.recipe-info {
    font-size: 1rem;
    padding: 10px;
    word-break: break-word;
    width: 15.5rem;
}

.recipe-info div {
  padding: 0;
  margin: 0;
}

.recipe-name {
    font-size: 1.5rem;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {

  .recipe-preview {
    grid-template-columns: 1fr;
  }

}
