<div class="recipe-preview">
    <div class="recipe-image">
        <img src="{{recipe?.imageLink}}" alt="{{recipe?.name}}">
        <div class="recipe-name">
            {{recipe?.name}}
        </div>
    </div>
    <div class="recipe-info">
        <div>
            {{recipe?.description}}
        </div>

        <div>
            <p>
                Ingredients:
            </p>
            <ul *ngFor="let ingredient of recipe?.ingredients">
                <li>{{ingredient.ingredient.name}} - {{ingredient.quantity}}</li>
            </ul>
        </div>
    </div>
</div>
