.scroll-border input,
.scroll-border textarea {
    background-color: transparent;
    display: block;
    margin: 0px auto;
    color: #4e2406;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;

    background-repeat: no-repeat;
    background-position: center center;
    border: 11px solid transparent;
    border-image: url("/assets/scroll.png") 30 fill;
}
  
.scroll-border input:focus,
.scroll-border textarea:focus {
    outline: none;
}
  
.scroll-border input::placeholder,
.scroll-border textarea::placeholder {
    color:#a87550;
}