/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.bg-cucurbit {
  background: linear-gradient(180deg, rgba(9,21,84,1) 0%, rgba(0,108,199,1) 33%, rgba(55,199,238,1) 70%, rgba(113,252,224,1) 100%);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body {
  cursor: url("assets/cursor-default.png"), default;
  font-family: "StardewValleyFont", "Press Start 2P", sans-serif;
}

a:hover, img:hover {
	cursor: url("assets/cursor-hand.png"), default;
}

@font-face {
    font-family: 'StardewValleyFont';
    src: url('assets/stardew-valley-font.ttf') format('truetype');
}

.m-t-10 {
  margin-top: 10px;
}

.cucurbit-header {
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    } 
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



