.border-contents{
    font-size: 1.25rem;
    text-align: center;
    color: #8B4429;
}

p {
    margin-bottom: 0.625rem;
    margin-top: 0.625rem;
}

p:first {
    margin-top: 0;
}

a {
    color: #662d17;
}

a:hover {
    color: #441d0d;
}

hr {
    margin-top: 3.125rem;
    margin-bottom: 1.25rem;
    background-color: transparent;
    border-top: 0.188rem dashed #8B4429;
}

.cat {
  margin: 0px auto;
}
