<app-wooden-border>
    <div class="border-contents">
        <p>
            This project is something that I started on a whim. <br/>
            In no way is it useful to anybody, not even for me. <br/>
            I just wanted to do something, because I was incredibly bored <br/>
            and I wanted to do something fun and ez.
        </p>

        <p>
            Not everything in this website is made by me, <br/>
            all the artworks came from the creative <br/>
            Stardew Valley community. <br/>
            Special thanks to following:
        </p>

        <ul *ngFor="let artist of artistList">
            <li> <a href="{{artist.sourceUrl}}" target="_blank">{{artist.workTitle}}</a> by {{artist.name}}</li>
        </ul>

        <hr/>
        <p>
            <a href="https://gitlab.com/zeitgeist" target="_blank">Cucurbit Code by me</a>
            <img src="/assets/cat.png" alt="cat" class="cat">
        </p>
    </div>
</app-wooden-border>
