img:hover {
    transform: scale(1.2);
}

.search-bar {
  padding: 2rem 2rem 4rem 2rem;
}

.recipes {
  display: grid;
}

.border {
  display: block;
  border: transparent;
}

.empty-search-results {
  color: #4e2406;
  text-align: center;
}

@media (min-width: 1280px) {

  .recipes {
    grid-gap: 1.5rem;
    gap: 1.5rem;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    margin-top: 40px;
  }

  .border {
    width: 800px;
  }

}

@media (min-width: 1025px) and (max-width: 1280px) {

  .recipes {
    grid-gap: 1.5rem;
    gap: 1.5rem;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    margin-top: 40px;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {

  .recipes {
    grid-gap: 1.5rem;
    gap: 1.5rem;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    margin-top: 40px;
  }

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .recipes {
    grid-gap: 1.5rem;
    gap: 1.5rem;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    margin-top: 40px;
  }

}

@media (min-width: 481px) and (max-width: 767px) {

  .recipes {
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-top: 20px;
  }

  .search-bar input,
  .search-bar input:focus {
    width: 100%;
  }

  .search-bar {
    padding: 0rem 0rem 2rem 0rem;
  }

}

@media (min-width: 320px) and (max-width: 480px) {

  .recipes {
    display: grid;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
  }

  .search-bar input,
  .search-bar input:focus {
    width: 100%;
  }

  .search-bar {
    padding: 0rem 0rem 2rem 0rem;
  }

}

@media (min-width: 280px) and (max-width: 319px) {

  .recipes {
    display: grid;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 20px;
  }

  .search-bar input,
  .search-bar input:focus {
    width: 100%;
  }

  .search-bar {
    padding: 0rem 0rem 2rem 0rem;
  }

}
