<div>
  <app-wooden-border *ngIf="isPageReady && !isPageFirstLoading" class="border">
    <app-recipe-preview *ngIf="isPageReady && recipe" [recipe]="recipe"></app-recipe-preview>

    <app-scroll-border class="search-bar">
      <form [formGroup]="searchForm" (ngSubmit)="performSearch()">
        <input type="text" autofocus placeholder="Search" formControlName="recipeName">
      </form>
    </app-scroll-border>

    <div class="recipes">
      <div *ngFor="let recipe of recipeList">
        <img class="recipe-image" src="{{recipe.imageLink}}" alt="{{recipe.name}}" (click)="previewRecipe(recipe)">
      </div>
    </div>

    <div class="empty-search-results" *ngIf="recipeList.length === 0">
      No recipes found.
    </div>
  </app-wooden-border>

  <app-loading-bar *ngIf="isPageFirstLoading"></app-loading-bar>

</div>
