.input-field {
    display: block;
    margin-top: 10px;
}

.intro-text {
    text-align: center;
    color: #4e2406;
}

.send-button {
    margin: 10px auto;
}

.send-button:hover {
    transform: scale(1.2);
}

.error-message {
    color: #FF0000;
    margin-left: 40px;
}