<app-wooden-border *ngIf="isPageReady">
    
    <div>
        <div class="intro-text">            
            Do you have something to say? Contact me! <br/> 
            I'll reach back to you in a jiffy.
        </div>

        <form [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
            <app-scroll-border class="input-field">
                <input type="text" name="sendFrom" autofocus placeholder="from" formControlName="sendFrom">
            </app-scroll-border>
            <div class="error-message" *ngIf="isInvalid('sendFrom', 'required')">
                From is required.
            </div>

            <app-scroll-border class="input-field">
                <input type="text" name="subject" placeholder="subject" formControlName="subject">
            </app-scroll-border>
            
            <app-scroll-border class="input-field">
                <textarea name="message" id="message" formControlName="message" placeholder="message" rows="4" cols="50"></textarea>
            </app-scroll-border>
            <div class="error-message" *ngIf="isInvalid('message', 'required')">
                Message is required.
            </div>
        </form>

        <div>
            <img class="send-button" src="/assets/mail.png" (click)="submitContactForm()">
        </div>
    </div>

</app-wooden-border>

<app-loading-bar *ngIf="!isPageReady">Loading</app-loading-bar>